.project-container h2 {
  text-align: center;
  margin-bottom: 10px;
}

.project-container p {
  text-align: center;
  color: #000000;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 5px;
  font-weight: 600;
}

.inputGroup input {
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ccc;
}

.deleteBtn {
  width: 100%;
  background: #d9534f;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.deleteBtn:hover {
  background: #c9302c;
}

.cancelBtn {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.cancelBtn:hover {
  background-color: #45a049;
}

.error {
  color: #ff6b6b;
  text-align: center;
  margin-bottom: 10px;
}

.success {
  color: #4caf50;
  text-align: center;
  margin-bottom: 10px;
}
