frontend/src/components/SingleItem/SingleItem.css [29:34]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend/src/components/SingleItem/SingleItem.css [252:257]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



