frontend/src/components/SingleItem/SingleItem.css [179:187]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
}
/* ===== ICONS OVER IMAGE ===== */
.singleItem-imageWrapper {
  position: relative;
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend/src/components/SingleItem/SingleItem.css [248:256]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
}

.singleItem-imageWrapper {
  position: relative; /* so heart-btn can position absolutely */
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



