body {
  background-color: white;
}

.inscription-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inscription-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left;
}

.inscription-form input,
.inscription-form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.inscription-form button:hover {
  background: #005fa3;
}
