.galleryItem {
  display: flex;
  position: relative;
  z-index: 1;
  overflow: visible;
  padding-top: 18px;
  overflow: visible;
}

.galleryItem img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.overlay,
.saveButton,
.overlayIcons {
  display: none;
}

.galleryItem:hover img {
  filter: brightness(90%);
}
.galleryItem:hover .overlayIcons {
  display: block;
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.overlayIcons button {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
  opacity: 80%;
}

.overlayIcons button img {
  width: 20px;
  height: 20px;
}

.optionFormat {
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.menuWrapper {
  position: relative;
}
