

.profileOptions h2 {
  margin-bottom: 10px;
}

.optionsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.optionBtn {
  padding: 10px 20px;
  background-color: #2d702b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

.optionBtn:hover {
  background-color: #4caf50;
}

.optionBtn.delete {
  background-color: #be3c2d;
}

.optionBtn.delete:hover {
  background-color: #d13b2b;
}
